/*index styles*/
body{
    background-color: #b0bec5;
}

/*.parallax-container {
    height:200px;
    }*/

.side-nav {
    font-family: 'Limelight', cursive;
    font-size: 30px;
}

.nav-wrapper {
    
    padding-right: 15px;
    padding-left: 15px;
}





.thin-text{
    font-weight: 300;
    background: rgba(96, 125, 139, .5);
    padding: 40px;
    border-radius: 20px;
}

p {
    font-size: 20px;
}

.skillList {
    border: 3px solid black;
    text-align: center;
    width: 250px;
    height: 250px;
    border-radius: 150px;
    background-color: #b2dfdb;
    margin-top: 35px;

}

.skillBtnText {

    font-size: 16px;
    padding: 25px;
}

.fontFooter {
    font-size: 17px;
}

footer {
    padding: 10px;
}

/*contact styles*/
#form {
    padding: 30px;
}



/*project styles*/
.projectsHead {
    padding: 30px;
    text-align: center;

}



.table {
    background-color: #b2dfdb;
    
}


 
.parallax img {
    @media #{$small-and-down} { max-width: 200%; }
    @media #{$medium-and-up} { width: 100%; }
}




